@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*color: hsla(0, 0%, 100%, 0.75) ;*/
    line-height: 1.5;

}

a{
    padding: 100px 10px 10px 10px;
    text-decoration: none;
    margin-top: 20px;
    background-color: cadetblue;
    text-align: center;
    color: antiquewhite;
    border-radius: 10px;
    font-size: 30px;

}

body{
background-color:  hsl(0, 0%, 95%);
}

* > #sedan{
    border-radius: 10px 10px 0px 0px;
}

* > #luxury{
    border-radius: 0px 0px 10px 10px;
}

.container{
    padding: 70px;
    
}

.colum{
    padding: 50px 70px 50px 50px;
}

#sedan{
    background-color: hsl(31, 77%, 52%);

}

#suv{
    background-color: hsl(184, 100%, 22%);
}

#luxury{
    background-color: hsl(179, 100%, 13%);
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 0.75) ;
    padding-top: 30px;
    font-size: 43px;
    text-align: left;

}

h4{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%, 0.75) ;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: left;
}

button{
    padding: 15px 35px;
    border-radius: 50px;
    border-style: none;
    background-color:hsl(0, 0%, 95%) ;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;


}

#sedan button{
    color: hsl(31, 77%, 52%);

}

#suv button{
    color: hsl(184, 100%, 22%);
}

#luxury button{
    color: hsl(179, 100%, 13%);
}


/*Active Button*/
#active_1{
    color: hsl(31, 77%, 52%);
    text-decoration: none;
}

#active_2{
   color: hsl(184, 100%, 22%);
   text-decoration: none; 
}

#active_3{
    color: hsl(179, 100%, 13%);
    text-decoration: none;
}

#active_1:active{
    border: 2px white solid;
    background-color: hsl(31, 77%, 52%);
    color: white;

}

#active_2:active{
    border: 2px white solid;
    background-color: hsl(184, 100%, 22%);
    color: white;

}

#active_3:active{
    border: 2px white solid;
    background-color: hsl(179, 100%, 13%);
    color: white;
}

@media (min-width: 1440px) {
    .container{
        display: flex;
        padding: 150px 450px 100px 450px;
        
    }
    * > #sedan{
    border-radius: 10px 0px 0px 10px;
}

    * > #luxury{
    border-radius: 0px 10px 10px 0px;
}
    
}